
#nav {
    height: 85px;
    width: 100%;
    background-color: transparent; 
    display: flex;
    align-items: center;
    padding: 0 10px; 
    position: fixed;
    top: 0;
    justify-content: space-between; 
    z-index: 1000;
    transition: background-color 0.3s ease; 
  }
  
  
  #nav.scrolled {
    background-color: transparent;
  }
  
  
  #nav img {
    margin-top: 3px;
    height: 7vw;
    margin-left: 80px; 
  }
  
  #nav .navbar-buttons {
    display: flex;
    gap: 5px; 
    align-items: center;
  }
  
  .navbar-button1 {
    margin-right: 10px;
    width: 120px; 
    height: 50px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #95c11e;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    color: #000000;
    font-size: 1em; 
    font-weight: 700;
    letter-spacing: 0.2em; 
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-button1:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #618108;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .navbar-button1:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .navbar-button1 span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #000000;
    font-size: 1em; 
    font-weight: 700;
    letter-spacing: 0.2em; 
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-button1:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  .navbar-button2 {
    margin-right: 85px;
    width: 120px; 
    height: 50px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #95c11e;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    color: #000000;
    font-size: 1em; 
    font-weight: 700;
    letter-spacing: 0.2em; 
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-button2:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #618108;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .navbar-button2:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .navbar-button2 span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #000000;
    font-size: 1em; 
    font-weight: 700;
    letter-spacing: 0.2em; 
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-button2:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
  